.service {
  min-width: 370px;
  max-width: 370px;

  min-height: 338px;

  position: relative;

  .ellipse {
    user-select: none;
  }

  &:first-child {
    .line {
      right: 0;
      rotate: -60deg;
      translate: 50% 0;
    }

    .content {
      rotate: -45deg;
    }
  }

  &:nth-child(2) {
    .line {
      left: 0;
      translate: -50% 0;
      rotate: 60deg;
    }

    .content {
      rotate: 45deg;
    }
  }

  &:nth-child(3) {
    .line {
      right: 0;
      translate: 50% 0;
      rotate: -120deg;
    }

    .content {
      rotate: 45deg;

      transform-origin: left bottom;
    }
  }

  &:last-child {
    .line {
      left: 0;
      translate: -50% 0;
      rotate: 120deg;
    }

    .content {
      rotate: -45deg;
      transform-origin: right bottom;
    }
  }

  .line {
    position: absolute;
    top: 100px;

    transform-origin: top center;

    display: flex;
    align-items: center;
    flex-direction: column;

    @media (max-width: $tablet) {
      display: none;
    }

    svg {
      transform-origin: bottom bottom;
    }
  }

  @media (max-width: $laptop_big) {
    min-width: 300px;
    max-width: 300px;
    min-height: 270px;

    .content {
      padding: 25px 30px;
    }
  }

  @media (max-width: $laptop) {
    min-width: 250px;
    max-width: 250px;
    min-height: 220px;
  }

  @media (max-width: $tablet) {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 32px 56px;

    border-radius: 40px;
    border: 1px solid $primary;

    width: 100%;
    height: 100%;

    @media (max-width: $laptop_big) {
      padding: 25px 30px;
    }

    @media (max-width: $laptop) {
      padding: 25px;
      gap: 12px;
    }

    @media (max-width: $tablet) {
      padding: 32px 40px;
    }

    .icon {
      width: 54px;
      height: 54px;

      @media (max-width: $laptop) {
        width: 40px;
        height: 40px;
      }

      @media (max-width: $tablet_big) {
        width: 30px;
        height: 30px;
      }

      @media (max-width: $tablet) {
        width: 54px;
        height: 54px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    h3 {
      text-transform: capitalize;
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 12px;

      font-size: 24px;
      color: $text;

      @media (max-width: $laptop) {
        font-size: 16px;
      }

      @media (max-width: $tablet_big) {
        font-size: 12px;
      }

      @media (max-width: $tablet) {
        gap: 16px;
        font-size: 24px;
      }

      li {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
