.footer {
  padding: 0 100px;

  @media (max-width: $laptop) {
    padding: 0 75px;
  }

  @media (max-width: $tablet) {
    padding: 0 16px;
  }

  div[class='container'] {
    padding-bottom: 85px;

    @media (max-width: $tablet_big) {
      padding-bottom: 50px;
    }
  }

  .down {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 200;

    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 32px;
    }

    .logo {
      width: 220px;
      height: 72px;

      @media (max-width: $tablet) {
        order: 1;
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 40px;

      @media (max-width: $tablet) {
        order: 2;
      }
    }

    span {
      @media (max-width: $tablet) {
        order: 3;
      }
    }
  }
}
