.contactForm {
  width: inherit;

  .inputCol {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (max-width: $tablet_big) {
      gap: 15px;
    }
  }

  .checkboxRow {
    display: flex;
    align-items: center;
    gap: 24px;

    margin-block: 55px;

    @media (max-width: $laptop_small) {
      flex-wrap: wrap;
    }

    @media (max-width: $tablet_big) {
      margin-block: 40px;
    }

    @media (max-width: $tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .inputRow {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 32px;

    @media (max-width: $tablet_big) {
      flex-direction: column;
      width: 100%;
      gap: 15px;

      > input {
        width: 100%;
      }
    }
  }

  .submitRow {
    margin-top: 70px;

    @media (max-width: $tablet_big) {
      margin-top: 40px;
    }
  }
}
