.testimonials-slider {
  width: 100%;
  height: 100%;

  .swiper-wrapper {
    align-items: end;
  }

  .swiper-slide {
    padding-right: 25px;

    height: 285px;
    min-width: 20% !important;
    width: 20% !important;

    transition: all 0.7s ease;

    @media (max-width: $tablet) {
      height: 100%;
      min-width: 95% !important;
      max-width: 95% !important;
      width: 100% !important;
    }

    &.swiper-slide-active {
      min-width: 40% !important;
      width: 40% !important;

      @media (max-width: $tablet) {
        height: 100%;
        min-width: 95% !important;
        max-width: 95% !important;
        width: 100% !important;
      }
    }

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;
    }
  }
}

@keyframes toBasic {
  50% {
    height: 285px;
  }

  100% {
    min-width: 20%;
    width: 20%;
    height: 285px;
  }
}

@keyframes toActive {
  50% {
    height: 100%;
  }

  100% {
    min-width: 40%;
    width: 40%;
    height: 100%;
  }
}
