.testimonials {
  div[class*='container'] {
    padding-bottom: 40px !important;
  }

  h2 {
    @media (max-width: $tablet) {
      text-align: center;
    }
  }

  .testimonialsSlider {
    min-height: 625px;
    height: 625px;

    flex: 1;

    overflow: hidden !important;

    position: relative;

    @media (max-width: $tablet) {
      width: 100%;
      min-height: unset;
      height: unset;
    }

    > div {
      @media (max-width: $tablet) {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }

    &::before {
      @media (max-width: $tablet) {
        content: '';
        display: block;
        padding-top: 100%;
      }
    }

    .slide {
      padding-right: 24px;

      cursor: pointer;

      height: 285px;

      &.active {
        opacity: 0;
      }

      img {
        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: center;
      }
    }

    .slider {
      display: flex;
      align-items: end;

      height: 100%;
      width: 100%;

      transition: transform 1.5s cubic-bezier(0.83, 0, 0.17, 1);
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 95px;
  }

  .info {
    width: 100%;

    display: flex;
    gap: 80px;

    position: relative;

    @media (max-width: $tablet) {
      flex-direction: column;
      gap: 32px;
    }

    .num {
      position: absolute;
      left: 0;
      top: -50px;

      z-index: 1;

      @media (max-width: $tablet) {
        display: none;
      }
    }

    .content {
      flex: 0.5;

      padding-top: 150px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: $tablet) {
        padding-top: 0;
      }

      .arrows {
        display: flex;
        gap: 16px;
        align-items: center;

        @media (max-width: $tablet) {
          gap: 40px;
          margin-top: 24px;
          justify-content: center;
        }
      }
    }
  }
}
