.ticker {
  overflow: hidden;

  position: relative;

  @media (max-width: $tablet) {
    overflow: unset;
  }

  &::before,
  &::after {
    content: '';
    display: block;

    width: 30%;
    height: 200% !important;

    position: absolute;
    top: 0;
    bottom: 0;

    z-index: 2;

    background: linear-gradient(
      90.04deg,
      #ffffff 11.32%,
      rgba(255, 255, 255, 0) 21.99%,
      rgba(255, 255, 255, 0) 75.73%
    );

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &::after {
    right: -3px;
    rotate: -180deg;
  }

  &::before {
    left: 0;
  }

  &.colored {
    span {
      color: $primary;
    }
  }

  &.transparent {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-text-stroke: 1px $primary;
  }

  &.left {
    .main {
      animation: toLeft 20s linear infinite;
      animation-delay: -20s;
    }

    .copied {
      animation: toLeft2 20s linear infinite;
      animation-delay: -10s;
    }
  }

  &.right {
    .main {
      animation: toRight 20s linear infinite;
      animation-delay: -20s;
    }

    .copied {
      animation: toRight2 20s linear infinite;
      animation-delay: -10s;
    }
  }

  span {
    font-weight: 800;
    font-size: 120px;
    line-height: 100%;

    white-space: nowrap;

    display: block;

    z-index: 1;

    user-select: none;

    @media (max-width: $laptop_big) {
      font-size: 100px;
    }

    @media (max-width: $laptop_small) {
      font-size: 80px;
    }

    @media (max-width: $tablet_big) {
      font-size: 60px;
    }

    @media (max-width: $tablet) {
      font-size: 48px;
    }
  }
}

@keyframes toLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes toLeft2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes toRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes toRight2 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}
