.statistics {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  @media (max-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 64px;
    column-gap: 16px;
  }
}
