.hero {
  div[class='container'] {
    padding-block: 50px 35px;

    @media (max-width: $laptop_small) {
      padding-block: 35px;
    }
  }

  .logo {
    width: 110px;
    height: 36px;

    @media (max-width: $laptop_small) {
      width: 90px;
    }
  }

  .wrapper {
    display: flex;

    padding-top: 150px;

    @media (max-width: $laptop_big) {
      padding-top: 100px;
    }

    @media (max-width: $laptop_small) {
      padding-top: 50px;
    }

    .text {
      width: 60%;

      .title {
        h1 {
          &:nth-child(2) {
            margin: 24px 0 44px;

            @media (max-width: $laptop) {
              margin: 18px 0 35px;
            }
          }

          &:last-child {
            margin-left: 135px;
          }
        }
      }

      .buttons {
        margin: 70px 200px 0 auto;
      }
    }

    .picture {
      width: 40%;
    }
  }

  .statistics {
    margin-top: 160px;
  }
}
