.hero {
  div[class='container'] {
    padding-block: 50px 35px;

    @media (max-width: $laptop_small) {
      padding-block: 35px;
    }

    @media (max-width: $tablet) {
      padding-block: 24px 0;
    }
  }

  .logo {
    width: 110px;
    height: 36px;

    translate: 200% 0;
    opacity: 0;

    @media (max-width: $laptop_small) {
      width: 90px;
    }

    @media (max-width: $tablet_big) {
      width: 75px;
    }

    @media (max-width: $tablet) {
      width: 80px;
      height: 26px;
    }
  }

  .wrapper {
    display: flex;

    padding-top: 150px;

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
      padding-top: 25px;

      gap: 35px;
    }

    @media (max-width: $laptop_big) {
      padding-top: 100px;
    }

    @media (max-width: $laptop_small) {
      padding-top: 50px;
    }

    .text {
      width: 60%;

      @media (max-width: $tablet) {
        width: 100%;
      }

      .title {
        @media (max-width: $tablet) {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
        }

        h1 {
          &:nth-child(2) {
            margin: 24px 0 44px;

            @media (max-width: $laptop) {
              margin: 18px 0 35px;
            }

            @media (max-width: $tablet_big) {
              margin: 15px 0 20px;
            }

            @media (max-width: $tablet) {
              margin: 12px 0 16px;
            }
          }

          &:last-child {
            margin-left: 135px;

            @media (max-width: $tablet) {
              margin-left: 0;
              text-align: right;
            }
          }
        }
      }

      .buttons {
        margin: 70px 200px 0 auto;

        > button {
          opacity: 0;

          &:first-child {
            translate: -200% 0;
          }

          &:last-child {
            translate: 200% 0;
          }
        }

        @media (max-width: $laptop_small) {
          margin: 50px 100px 0 auto;
        }

        @media (max-width: $tablet) {
          margin: 48px auto 0;
          justify-content: start;
        }
      }
    }

    .bulbWrapper {
      width: 40%;
      height: auto;

      position: relative;

      pointer-events: none;
      user-select: none;

      @media (max-width: $tablet) {
        padding-top: 100%;
      }

      .content {
        position: relative;
        width: 100%;
        height: 100%;

        animation: gravity 3s infinite linear;

        @media (max-width: $tablet) {
          position: absolute;
          top: 0;
        }
      }

      .shadow {
        background: radial-gradient(
          50.14% 50.03% at 50.18% 50.02%,
          rgba(102, 102, 102, 0.5) 5%,
          rgba(147, 147, 147, 0.5) 16%,
          rgba(206, 206, 206, 0.5) 31%,
          rgba(242, 242, 242, 0.5) 45%,
          rgba(255, 255, 255, 0.5) 55%,
          rgba(255, 255, 255, 0.39) 65%,
          rgba(255, 255, 255, 0.11) 89%,
          rgba(255, 255, 255, 0) 100%
        );

        width: 80%;
        height: 70px;

        translate: -50% 100%;

        position: absolute;
        bottom: 0;
        left: 50%;
      }

      div[class='lf-player-container'] {
        width: 100%;
        height: 100%;

        position: absolute;
      }

      .wavingBubbles {
        position: absolute;

        width: 100%;
        height: 100%;

        scale: 2.5;

        transform-origin: center;

        translate: -3% -50%;
      }

      .bubblesCopy {
        rotate: -45deg;
        top: 45%;
        left: -15%;
        transform-origin: center;
      }

      .innerBubbles {
        position: absolute;

        width: 100%;
        height: 100%;
        top: 20%;

        z-index: 0;

        transform-origin: center top;
        scale: 0.5;

        svg {
          g {
            opacity: 1;
          }

          path {
            fill: #e0e63c;
          }
        }
      }

      .bulb {
        position: absolute;

        width: 100%;
        height: 100%;

        object-fit: contain;
      }

      @media (max-width: $tablet) {
        width: 100%;
      }
    }
  }

  .statistics {
    margin-top: 160px;

    @media (max-width: $laptop) {
      margin-top: 120px;
    }

    @media (max-width: $tablet_big) {
      margin-top: 80px;
    }
  }
}

@keyframes gravity {
  25% {
    translate: 0 -1%;
  }

  50% {
    translate: 0 -3%;
  }

  100% {
    translate: 0;
  }
}
