.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  width: 100vw;
  height: 100vh;

  z-index: 4;

  pointer-events: none;

  padding: 45px 55px;

  @media (max-width: $laptop) {
    padding: 35px 40px;
  }

  @media (max-width: $tablet) {
    padding: 24px 16px;
    height: 100%;
    z-index: 7;
  }

  &.hidden {
    pointer-events: none;

    .curtains {
      div {
        height: 100%;

        animation: toUp 1s forwards cubic-bezier(0.33, 1, 0.68, 1) !important;
      }
    }
  }

  &.active {
    pointer-events: all;

    .content > * {
      opacity: 1;

      transition-delay: 1.25s;
      transition-duration: 0.7s !important;
    }

    .curtains {
      div {
        animation: toDown 1s forwards cubic-bezier(0.33, 1, 0.68, 1);
      }
    }
  }

  .curtains {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;

    > div {
      flex: 1;
      background-color: $primary;

      height: 0;

      transition: height 1s cubic-bezier(0.33, 1, 0.68, 1);

      &:last-child {
        animation-delay: 0.6s !important;
      }

      &:nth-child(4) {
        animation-delay: 0.45s !important;
      }

      &:nth-child(3) {
        animation-delay: 0.3s !important;
      }

      &:nth-child(2) {
        animation-delay: 0.15s !important;
      }
    }
  }

  .content {
    z-index: 5;
    position: relative;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > * {
      opacity: 0;

      transition: 0.35s ease;
      transition-property: opacity, translate;
    }

    .logo {
      width: 110px;
      height: 36px;

      @media (max-width: $tablet) {
        width: 80px;
        height: 26px;
      }
    }

    .group {
      gap: 48px;

      .mobileLangSelect {
        display: none;

        @media (max-width: $tablet) {
          display: unset;
        }
      }
    }

    .middle {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      z-index: 6;

      .button {
        position: absolute;
        top: 50%;
        left: 75%;
        translate: 0 -50%;

        @media (max-width: $laptop_small) {
          left: 60%;
        }

        @media (max-width: $tablet) {
          position: static;
          translate: 0;
        }
      }
    }

    .list {
      height: 450px;
      max-height: 450px;

      width: 50%;

      position: relative;

      @media (max-width: $laptop) {
        height: 350px;
        max-height: 350px;
      }

      @media (max-width: $laptop_small) {
        height: 275px;
        max-height: 275px;
      }

      @media (max-width: $tablet) {
        height: 350px;
        max-height: 350px;

        width: 100%;
      }

      &::after,
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 130px;
        z-index: 6;
        pointer-events: none;
      }

      &::before {
        top: -40px;
        rotate: 180deg;
        background: linear-gradient(
          180deg,
          rgba(42, 82, 76, 0) 22.92%,
          #2a524c 73.44%
        );
      }

      &::after {
        bottom: -40px;
        background: linear-gradient(
          180deg,
          rgba(42, 82, 76, 0) 22.92%,
          #2a524c 73.44%
        );
      }

      ul {
        unicode-bidi: bidi-override;
        direction: rtl;

        overflow: scroll;
        overflow-x: hidden !important;

        padding-left: 105px;

        width: 100%;
        height: 100%;

        gap: 40px;
        display: flex;
        flex-direction: column;

        @media (max-width: $laptop_small) {
          gap: 25px;
        }

        @media (max-width: $tablet) {
          padding-left: 25px;
        }

        &::-webkit-scrollbar {
          appearance: none;
          background-color: #fcfcfc;
          width: 1px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $secondary;
        }

        &::-webkit-scrollbar-track {
          background-color: #fcfcfc;
        }
      }

      li {
        font-size: 96px;
        font-weight: 700;

        position: relative;

        direction: ltr;
        text-align: left;

        text-transform: capitalize;

        @media (max-width: $laptop_big) {
          font-size: 70px;
        }

        @media (max-width: $laptop) {
          font-size: 56px;
        }

        @media (max-width: $laptop_small) {
          font-size: 45px;
        }

        @media (max-width: $tablet) {
          font-size: 40px;
        }

        &:hover {
          a {
            opacity: 0;
          }

          .stroked {
            opacity: 1 !important;
          }
        }

        a {
          -webkit-background-clip: text;
          -webkit-text-fill-color: #fcfcfc;

          background-clip: text;
          text-fill-color: #fcfcfc;
          -webkit-text-stroke: 1px #fcfcfc;

          transition: opacity 0.5s ease;

          &.stroked {
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;

            opacity: 0;

            -webkit-background-clip: text;
            -webkit-text-fill-color: #fcfcfc;

            background-clip: text;
            text-fill-color: #fcfcfc;
            -webkit-text-stroke: 1px #fcfcfc;

            -webkit-text-fill-color: transparent;
          }
        }
      }
    }

    .socials {
      display: flex;
    }
  }
}

@keyframes toUp {
  to {
    height: 0;
  }
}

@keyframes toDown {
  to {
    height: 100%;
  }
}
