.servicesGroup {
  display: grid;

  width: 100%;

  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  row-gap: 140px;

  @media (max-width: $laptop_big) {
    row-gap: 100px;
  }

  @media (max-width: $laptop) {
    row-gap: 70px;
  }
}
