.sidebar {
  position: fixed;
  top: 0;
  right: 0;

  height: 100%;

  width: 100px;

  padding: 48px 15px;

  @media (max-width: $laptop_big) {
    padding: 35px 10px;
  }

  @media (max-width: $laptop) {
    width: 75px;

    padding: 30px 5px;
  }

  @media (max-width: $tablet_big) {
    padding: 15px 5px;
  }

  @media (max-width: $tablet) {
    padding-right: 20px;
    width: fit-content;

    z-index: 6;
    height: fit-content;
  }

  .col {
    gap: 90px;

    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $tablet) {
      height: fit-content;
    }
  }

  .vertical {
    rotate: -90deg;
    white-space: nowrap;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  .lang {
    @media (max-width: $tablet) {
      display: none;
    }
  }

  .socials {
    @media (max-width: $tablet) {
      display: none;
    }
  }
}
