.testimonial {
  .position {
    font-size: 20px;
    margin-top: 16px;

    display: block;
  }

  h3 {
    animation: fadeIn 2s forwards ease;
    opacity: 0;
  }

  p {
    font-size: 18px;

    margin-top: 90px;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
