.testimonial {
  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
  }

  .position {
    font-size: 20px;
    margin-top: 16px;

    display: block;

    @media (max-width: $tablet) {
      margin-block: 16px 24px;
    }
  }

  p {
    font-size: 18px;

    margin-top: 90px;

    @media (max-width: $laptop_small) {
      margin-top: 45px;
    }

    @media (max-width: $tablet) {
      margin: 0;
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
