.team {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;

    @media (max-width: $laptop) {
      gap: 45px;
    }

    @media (max-width: $tablet) {
      text-align: center;
    }
  }
}
