.button {
  height: 48px;

  font-weight: 600;

  position: relative;

  .text {
    z-index: 2;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &.radio {
    color: $text;

    width: 284px;
    height: 284px;

    background-color: rgba(242, 201, 76, 0.2);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;

    &::before {
      content: '';
      display: block;

      width: 226px;
      height: 226px;

      position: absolute;
      top: 50%;
      left: 50%;

      translate: -50% -50%;

      background-color: $secondary;

      border-radius: inherit;

      z-index: 1;
    }
  }

  &.circle {
    padding-left: 20px;

    position: relative;

    &::before {
      content: '';

      width: 48px;
      height: 100%;

      border: 1px solid $secondary;
      color: $primary;

      border-radius: 100%;

      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;

      z-index: 0;
    }
  }

  &.common {
    padding: 0 33px;
    border-radius: 60px;

    background-color: $secondary;
    color: #fff;

    &:active {
      background-color: $btn-active;
    }
  }
}
