.filter {
  .desktop {
    display: flex;
    align-items: center;
    gap: 60px;

    @media (max-width: $laptop_small) {
      gap: 30px;
    }
  }

  li {
    font-weight: 500;
    color: #06171e;
    text-transform: uppercase;

    cursor: pointer;

    &.active {
      color: $secondary;
    }
  }
}
