.filter {
  @media (max-width: $tablet) {
    width: 50%;
  }

  .desktop {
    display: flex;
    align-items: center;
    gap: 60px;

    @media (max-width: $laptop_small) {
      gap: 30px;
    }

    @media (max-width: $tablet) {
      display: none;
    }
  }

  .mobile {
    width: 100%;
    position: relative;

    transition: 0.7s ease;
    transition-property: width, box-shadow;

    margin-left: auto;

    display: none;

    @media (max-width: $tablet) {
      display: block;
    }

    .head {
      padding-right: 5px;
      display: flex;
      align-items: center;
      justify-content: end;

      transition: 0.7s ease;
      transition-property: border-radius, border;

      > * {
        pointer-events: none !important;
      }

      .dropdownArrow {
        width: 12.5px;
        height: 7px;

        transition: rotate 0.5s ease;
        transform-origin: center;
      }
    }

    .body {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      translate: 0 99%;

      width: 100%;

      padding: 20px 14px 24px;

      border-left: 1px solid $primary;
      border-bottom: 1px solid $primary;
      border-right: 1px solid $primary;
      border-radius: 0 0 30px 30px;

      display: flex;
      flex-direction: column;
      gap: 20px;

      z-index: 3;

      background: #fcfcfc;

      opacity: 0;

      transition: opacity 0.3s ease;

      pointer-events: none;
    }

    &.active {
      .dropdownArrow {
        rotate: 180deg;
      }

      .head {
        background: #fcfcfc;
        box-shadow: 0px 12px 28px rgba(51, 71, 60, 0.31);

        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        border-bottom: 0;
      }

      .body {
        opacity: 1;
        pointer-events: all;

        transition: opacity 1s ease;
      }
    }
  }

  li {
    font-weight: 500;
    color: #06171e;
    text-transform: uppercase;
    white-space: nowrap;

    cursor: pointer;

    &.active {
      color: $secondary;
    }
  }
}
