.projectsGrid {
  display: flex;
  flex-direction: column;
  align-items: center;

  .button {
    @media (max-width: $tablet) {
      margin-right: auto;
    }
  }

  .grid {
    display: grid;

    &::-webkit-scrollbar {
      appearance: none;
      width: 6px;
      background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $secondary;
      border-radius: 3px;
    }

    grid-template-columns: repeat(4, 1fr);

    row-gap: 80px;
    column-gap: 40px;

    margin-block: 70px;

    @media (max-width: $tablet) {
      display: flex;
      gap: 24px !important;

      overflow-x: scroll;
      overflow-y: hidden !important;

      margin-block: 40px;
      width: 100%;
    }
  }
}
